
body {
font-family: 'Patua One',Georgia,serif;
font-size: 72px;
padding: 50px;
text-align: left;
background-color: #240F2D;
color: #A0D7C7;
}

.intro {
font-family: 'Lobster Two',Georgia,serif;
font-size: 72px;
